@page
@model Test.Web.Pages.RedirectModel
@{
}

<div>
    Access token: @Model.Tokens.AccessToken
</div>
<hr />
<div>
    Refresh token: @Model.Tokens.RefreshToken
</div>
<hr />
<div>
    Created At: @Model.Tokens.CreatedAt
</div>